<!doctype html>
  <html>
    <head>
    </head>
      <body>

        <section>
        <p>{{messageText}}</p>
        {{#gabs}}<p>{{user.username}}</p>{{/gabs}}
        </section>
      </body>
  </html>
