<html>
    <head>
      <title>Login to Gabble</title>
    </head>
  <body>
    <main>
      <form method="post" action="/login">
    <input type="text" name="username" placeholder="Please enter your username">
    <input type="password" name="password" placeholder="Please enter your password">
    <input type="submit" value="Log In">
    </form>
    <form method="post" action="/signup">
      <input type="submit" value="Sign up">
    </form>
  </main>
  </body>
</html>
