<!doctype html>
  <html>
    <head>
      <title>Profile</title>
    </head>
  <body>
  {{#result}}
  <p>{{body}}</p>
  <p>{{user.username}}</p>
  <p>{{createdAt}}</p>
  <p>Likes: {{total_likes}}</p>
  <p>Disagree: {{total_dislikes}}</p>
  {{/result}}
  </body>
  </html>
